.wrapper {
  position: absolute;
  display: block;
}
.wrapper > div {
  background-color: var(--bgColorMenu);
  color: var(--colorChatBot);
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 64px;
}

@media (max-width: 1000px) {
  .wrapper {
    display: none;
  }
}
