.base {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.error {
  background: radial-gradient(circle,#dc3545 20%, #dc354550 50%, #dc354500 65%);
  cursor: wait;
}
.success {
  background: radial-gradient(circle,#28a745 20%, #28a74550 50%, #28a74500 65%);
}
.info {
  background: radial-gradient(circle, #17a2b8 20%, #17a2b850 50%, #17a2b800 65%);
  cursor: wait;
}
.warning {
  background: radial-gradient(circle, #eab000 20%, #eab00050 50%, #eab00000 65%);
}
