.wrapper {
  height: calc(100vh);
  padding: 64px 10px 10px 10px;
  display: flex;
}
.half {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--bgColorSecond) !important;
}
:global(.gutter) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
