.wrapper {
  margin-left: 0 !important;
  padding: 4px 8px;
  border-radius: 3px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  cursor: pointer;
  opacity: 0.95;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeBtn {
  width: fit-content;
  height: fit-content;
  min-width: 0 !important;
  padding: 0;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.text {
  word-wrap: break-word;
  color: #fff;
  line-height: 150%;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: small;
}
.error {
  background-color: #dc3545;
  border-left: 8px solid #bd1120;
  cursor: pointer;
}
.success {
  background-color: #28a745;
  border-left: 8px solid #1f8838;
}
.default {
  background-color: #007bff;
  border-left: 8px solid #0562c7;
}
.info {
  background-color: #17a2b8;
  border-left: 8px solid #138b9e;
}
.warning {
  background-color: #eab000;
  border-left: 8px solid #ce9c09;
}
