.relative {
  position: relative;
}
.wrapper {
  position: relative;
  overflow: auto;
  width: calc(100% - 64px);
  padding: 2px 10px;
  background-color: var(--bgColorSearchSettings) !important;
}
.closed {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  span {
    color: var(--colorSearchSettings);
    font-size: small;
  }
}

.withoutShadow {
  box-shadow: none !important;
}
.opened {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  transform-origin: center bottom;
  bottom: 0;
  z-index: 1000;
  animation: expandHeight 300ms ease forwards;
  padding: 15px 10px 5px;

  .select {
    min-width: 240px;
    [role="combobox"] {
      padding: 8px 14px;
    }
  }
  .closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
  }
  .isGraphEnabled {
    label {
      background-color: var(--bgColorSearchSettings);
      padding-right: 8px;
    }
  }
  .table {
    color: var(--colorSearchSettings);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
    min-width: 470px;
    position: relative;
  }
  .tableWrapper {
    position: relative;
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;
  }
  .verticalLine {
    content: "";
    width: 1px;
    height: calc(100% - 40px);
    border-right: 1px var(--borderColorSettings) dashed;
    position: absolute;
    right: 296px;
    bottom: 0px;
  }
  .horizontalLine {
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 1px var(--borderColorSettings) dashed;
    position: absolute;
    right: 0px;
    top: 90px;
  }
}

.disabled {
  pointer-events: none;

  filter: contrast(0.1);
}
.isLoading {
  pointer-events: none;

  filter: blur(1px);
}
.loader {
  bottom: -18px;
  width: calc(100% - 64px);
  height: 17px !important;
  border-radius: 4px;
  color: var(--bgColorChatUser) !important;
}

@keyframes expandHeight {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
