.relative {
  position: relative;
}
.wrapper {
  position: relative;
  overflow: auto;
  width: calc(100% - 64px);
  padding: 2px 10px;
  background-color: var(--bgColorSearchSettings) !important;
}
.closed {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.closed span {
  color: var(--colorSearchSettings);
  font-size: small;
}
.withoutShadow {
  box-shadow: none !important;
}
.opened {
  transform-origin: center bottom;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  animation: expandHeight 300ms ease forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 10px;

  .select {
    min-width: 240px;
    [role="combobox"] {
      padding: 8px 14px;
    }
  }
  .closeBtn {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
}
.opened label {
  background-color: var(--bgColorSearchSettings);
  padding-right: 8px;
}

@keyframes expandHeight {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
