.wrapper {
  position: relative;
  flex: 0 0 auto;
  max-height: 100%;
  overflow: auto;
  width: calc(50vw - 35px);
  padding: 2px 10px;
  background-color: var(--bgColorSearchSettings) !important;
}
.closed {
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  gap: 10px;
  span {
    color: #7d7d7d;
    font-size: small;
  }
}
.opened {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 10px;
  label {
    background-color: var(--bgColorSearchSettings);
    padding-right: 8px;
  }
  .select {
    min-width: 240px;
    [role="combobox"] {
      padding: 8px 14px;
    }
  }
  .closeBtn {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
}
