.relative {
  position: relative;
}
.wrapper {
  position: relative;
  overflow: auto;
  width: calc(100% - 64px);
  padding: 2px 10px;
  background-color: var(--bgColorSearchSettings) !important;
}
.closed {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  span {
    color: var(--colorSearchSettings);
    font-size: small;
  }
}

.withoutShadow {
  box-shadow: none !important;
}
.opened {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  transform-origin: center bottom;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  animation: expandHeight 300ms ease forwards;
  padding: 15px 10px;

  .select {
    min-width: 240px;
    [role="combobox"] {
      padding: 8px 14px;
    }
  }
  .closeBtn {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .isGraphEnabled {
    label {
      background-color: var(--bgColorSearchSettings);
      padding-right: 8px;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.disabled {
  pointer-events: none;
  * {
    filter: contrast(0.1);
  }
}

@keyframes expandHeight {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
