* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  min-height: 100vh;
}

.item1 {
  flex: 0 1 auto;
}

.item2 {
  flex: 1 1 auto;
}

#root {
  height: 100vh;
}

main {
  width: 100%;
}

/* Переопределдение стандартного стиля уведомления для смещения ниже навбара*/
.notificationContainer {
  top: 64px;
  left: 0;
}
.notificationContainer .rnc__notification {
  width: calc(50vw - 35px)!important
}